# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://matrix-org.github.io/synapse/latest/usage/configuration/config_documentation.html
server_name: '{{synapse.base_url}}'
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    resources:
      - names: [client, federation]
        compress: false
database:
  name: psycopg2
  txn_limit: 10000
  args:
    user: {{synapse.synape_db_user}}
    password: {{synapse.synape_db_password}}
    database: {{synapse.synape_db_name}}
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10
email:
  smtp_host: "{{synapse.smtp_host}}"
  smtp_port: {{synapse.smtp_port}}
  smtp_user: "{{synapse.smtp_user}}"
  smtp_pass: "{{synapse.smtp_pass}}"
  force_tls: true
  require_transport_security: true
  enable_tls: true
  notif_from: "Your Friendly %(app)s homeserver <{{synapse.smtp_user}}>"
  app_name: {{synapse.base_url}}
  enable_notifs: true
  notif_for_new_users: false
  client_base_url: "https://{{synapse.base_url}}/riot"
  validation_token_lifetime: 15m
  invite_client_location: https://app.element.io
suppress_key_server_warning: true
log_config: '/data/{{synapse.base_url}}.log.config'
media_store_path: /data/media_store
registration_shared_secret: 'Erx30fDeRI^#QL_IexMvo9s5v*:~ypyyMA_e~q=:p1egl.g50X'
report_stats: true
macaroon_secret_key: 'TkSwu8kZ6dzYPv_juLAbPM-*jA;_D3KB^Y1oT;hS,LOQzeBYhU'
form_secret: '1iN5~mnO9bVGr7MstChe@0WT3S9yaN7GzBzjzj&q0CjU0TG.rI'
signing_key_path: '/data/{{synapse.base_url}}.signing.key'
trusted_key_servers:
  - server_name: 'matrix.org'
turn_uris: [ "turn:turn.{{synapse.base_url}}?transport=udp" ]
turn_shared_secret: "{{synapse.coturn_static_auth_secret}}"
turn_user_lifetime: 86400000
turn_allow_guests: True
# vim:ft=yaml
